services:
  mysql:
    image: mysql:8.0
    container_name: aggrid_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASS}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  adminer:
    image: adminer
    container_name: aggrid_adminer
    restart: unless-stopped
    ports:
      - "8080:8080"
    networks:
      - app-network

  backend:
    build:
      context: .
      dockerfile: dockerfile.backend
    container_name: aggrid_backend
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - TABLE_NAME=${TABLE_NAME}
      - PORT=${PORT}
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "3000:3000"
    networks:
      - app-network
    
  frontend:
    build:
      context: .
      dockerfile: dockerfile.frontend
    container_name: aggrid_frontend
    restart: unless-stopped
    depends_on:
      backend:
        condition: service_started
    ports:
      - "5173:5000"
    networks:
      - app-network


volumes:
  db_data:

networks:
  app-network:
    driver: bridge
